* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next", "yu gothic ui";
}

a {
  text-decoration: none;
}
ol li{
  padding-top: 10px;
  padding-bottom: 10px;
}
ol li.publication:link {
 color: #0000EE;
 text-decoration: underline;
 /*text-decoration: none;*/
}
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.publication {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 80px;
  /*text-align: left;*/
  float: left;
  color: #5f5d60;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left p {
  color: white;
  line-height: 65px;
  padding: 0 25px;
  display: block;
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
