* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Avenir Next", "yu gothic ui";
}

.container {
  width: 100%;
  padding: 0 15px;
  padding-left: 50px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34,49,52,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left p {
  line-height: 65px;
  color: white;
  display: block;
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255,255,255,0.3);
}

a {
  text-decoration: none;
}

.fa {
  margin-right: 5px;
}

.heading {
  padding-bottom: 50px;
  color: #5f5d60;
  text-align: left;
}

.heading h2 {
  font-weight: normal;
}

.top-wrapper {
  padding-top: 80px;
}

.contact-wrapper {
  height: 400px;
  padding:20px 0;
  background-color: #f7f7f7;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}
